In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/image28.csv')

In [3]:
data.head(5)

,Label,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,...,Pixel_775,Pixel_776,Pixel_777,Pixel_778,Pixel_779,Pixel_780,Pixel_781,Pixel_782,Pixel_783,Pixel_784
0,0,7,7,7,8,9,16,7,5,3,...,188,138,26,32,23,29,27,27,34,40
1,0,6,4,8,0,2,3,9,0,1,...,177,24,26,28,30,27,29,29,33,37
2,0,3,7,4,7,5,4,3,5,2,...,195,173,23,28,28,27,29,33,27,47
3,0,3,8,8,8,4,4,0,1,5,...,200,195,27,33,23,29,25,33,29,29
4,0,12,8,8,9,2,7,8,9,5,...,206,177,18,26,28,25,26,28,33,36